* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: padding 0.3s ease;
}

body {
    font-family: "Noto Sans Display", sans-serif;
    min-height: 100vh;
}

.top-part {
    background: url('../static/hero-bg-img.webp') no-repeat center center/cover;
    overflow: hidden;
}